body {
    background-image: url(../images/7.jpg) ;
    background-repeat: no-repeat;
    border-style: none;
    background-position:center;
    background-size: contain;
    background-attachment: fixed;
    background-size: 100%;
    font-family: Verdana, sans-serif;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    min-width:1200px;
    min-height: 100%;
}
/* *************************************头部制作start****************************************************** */

/***********************************************头部制作end************************************************/

/*中间模块制作start*/
/***********************************************aside模块start**********************************************/
aside{
    position: fixed;
    float: left;
    top:150px;
    right: 72%;
    width: 200px;
    height: 500px;
    background-color: rgba(165, 159, 159, 0.459);
    box-shadow:1px 1px 10px #ffffff;
    /*圆角化*/
    border-radius:10px;
    z-index: 1;
}
/*个人主页*/
aside h1{
    position: absolute;
    top:5%;
    left: 15%;
    font-size: 35px;
    color: white;
}
/*aside_nav*/
.aside_nav{
    position: absolute;
    top:25%;
    left: 10%;
    padding:10px;
}
.aside_nav li{
    height: 60px;
}
.aside_nav a{
    font-family: Verdana, sans-serif;
    font-size: 20px;
    padding:10px;
    color: rgb(255, 255, 255);
    text-decoration:none;
}
.aside_nav a:hover {
    font-size: 25px;
    font-weight:bold;
    color: rgb(119, 119, 119);
    border-radius:10px;
}
#source_all{
    font-size: 25px;
    border-radius:10px;
    font-weight:bold;
}
/**********************************************section模块制作**********************************************/
section{
    position: absolute;
    top:80px;
    left: 30%;
    height: 250px;
    width: 850px;
    box-shadow:1px 1px 10px #e6e6e6;
    border-radius:10px;
}
/*主题背景*/
.theme{
    top:0%;
    height: 100%;
    width: 100%;
    background-size:cover;
    border-radius:10px;
}
/*头像*/
.avatar{
    position: absolute;
    top: 30%;
    left: 42%;
    border-radius:50%;
    width: 15%;
}
/**********************************************article模块制作***********************************************/
article{
    top:350px;
}
/*中间模块end*/