<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的消息</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="../static/js/host.js"></script>
    <script type="text/javascript" src="../static/js/axios-0.18.0.min.js"></script>
    <link rel="stylesheet" href="../static/images/icon/iconfont.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/my_message.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
    <script type="text/javascript" src="../static/js/personal.js"></script>
</head>
<body>
    <!-- 头部模块制作start -->
    <header class="header">
        <div class="logo">
            <img src="../static/images/logo.png" alt="">
        </div>
        <div class="logotext">
            <img src="../static/images/logotext.png" alt="">
        </div>
        <!--导航模块-->
        <nav>
            <table class="head">
                <th class="head_search">
                    <div class="ser_head">
                        <div class="sehead_input">
                            <b><input type="text" name="serch_text" id="headser_text"></b>
                            <button class=""></button>
                        </div>
                        <div class="sehead_img">
                            <img src="../static/images/搜索.png" alt="">
                        </div>
                    </div>
                </th>
                <th class="head_new">
                    <a href="./new_post.html">新建</a>
                </th>
                <th>
                    <a href="./center.html">个人主页</a>
                </th>
                </th>
                <th>
                    <a href="./center.html">商城</a>
                </th>
                <th>
                    <a href="./enroll.html" target="_blank">通知</a>
                </th>
                <th>
                     <a href="#">退出</a>
                </th>
            </table>
        </nav>
    </header>
    <!-- 头部模块制作end -->  
    <!--中间模块制作start-->
    <div>
        
    </div>
    <!-- aside模块制作start -->
    <aside>
        <h1>个人主页</h1>
        <!-- aside_nav制作 -->
        <div class="aside_nav">
            <ul class="ul_sidebar">
                <li><a href="./personal.html" id="source_all">我的发布</a></li>
                <li><a href="./my_sold.html" id="my_sold">我的卖出</a></li>
                <li><a href="./my_bought.html" id="my_bought">我的已购</a></li>
                <li><a href="./my_collect.html" id="my_collect">我的收藏</a></li>
                <li><a href="./my_message.html" id="my_message">我的消息</a></li>
                <li><a href="./my_info.html" id="personal_information">个人资料</a></li>
            </ul>
        </div>
    </aside>
    <!-- aside模块制作end -->

    <!--section模块制作start-->
    <section>
        <a href="#"><img src="../static/images/3.jpg" class="theme"></a>
        <img src="../static/images/avatar.png" class="avatar">
    </section>
    <!--section模块制作end-->

    <!--article模块制作start-->
    <article>
        <div class="message_all" v-for="post in source_posts">
            <div class="blank"></div>
            <div class="post_model">
                <div class="post_info">
                    <div class = "or_name">
                        小红
                    </div>
                    <div class="mes_sel">评论了你的贴子</div>
                    <button class="info_del"><a href="#"class="iconfont">&#xe718;</a></button>
                    <div class="info_time">
                        <a href="#">2021/12/38 14:80</a>
                    </div>
                </div>
                <div class="blank"></div>
                <div class="post_blank"></div>
                <div class="or_com">
                    可以小刀吗？
                </div>
                <div class="blank"></div>
                <div class="used_post">
                    <div class="used_img"><img src="../static/images/6.jpg" alt=""></div>
                    <div class="used_text">
                        75出胶片（超出部分用...）哈哈哈哈哈哈哈哈哈哈哈哈
                    </div>
                </div>
                <div class="blank"></div>
            </div>
        </div>
        <div class="message_all" v-for="post in source_posts">
            <div class="blank"></div>
            <div class="post_model">
                <div class="post_info">
                    <div class = "or_name">
                        小红
                    </div>
                    <div class="mes_sel">点赞了你的贴子</div>
                    <button class="info_del"><a href="#"class="iconfont">&#xe718;</a></button>
                    <div class="info_time">
                        <a href="#">2021/12/38 14:80</a>
                    </div>
                </div>
                <div class="post_blank"></div>
                <div class="or_com">
                </div>
                <div class="blank"></div>
                <div class="used_post">
                    <div class="used_img"><img src="../static/images/6.jpg" alt=""></div>
                    <div class="used_text">
                        75出胶片（超出部分用...）哈哈哈哈哈哈哈哈哈哈哈哈
                    </div>
                </div>
                <div class="blank"></div>
            </div>
        </div>
        <div class="message_all" v-for="post in source_posts">
            <div class="blank"></div>
            <div class="post_model">
                <div class="post_info">
                    <div class = "or_name">
                        小红
                    </div>
                    <div class="mes_sel">收藏了你的贴子</div>
                    <button class="info_del"><a href="#"class="iconfont">&#xe718;</a></button>
                    <div class="info_time">
                        <a href="#">2021/12/38 14:80</a>
                    </div>
                </div>
                <div class="post_blank"></div>
                <div class="or_com">
                </div>
                <div class="blank"></div>
                <div class="used_post">
                    <div class="used_img"><img src="../static/images/6.jpg" alt=""></div>
                    <div class="used_text">
                        75出胶片（超出部分用...）哈哈哈哈哈哈哈哈哈哈哈哈
                    </div>
                </div>
                <div class="blank"></div>
            </div>
        </div>
    </article>
    <!--article模块制作end-->
</body>
</html>