/* 把我们所有标签的内外边距清零 */
* {
    margin: 0;
    padding: 0;
    /* css3盒子模型 */
    box-sizing: border-box;
}
/* 去掉小圆点 */
li {
    list-style: none;
}
[v-cloak]{
    visibility: hidden;
}
img {
    /* 照顾低版本浏览器 */
    border: 0;
    /* 取消图片底部有空白间隙的问题 */
    vertical-align: middle;
}
/* 鼠标经过Button按钮时变成小手 */
button {
    cursor: pointer;
}
/* 输入*/
button,input {
    border: 0;
    outline: none;
}
body {
    /* 抗锯齿形-文字放大时 */
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53" sans-serif;
    min-width: 1250px;
    min-height:720px;
}
.logo {
    float: left;
    height: 70px;
    border-radius: 50%;
}
.logo img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.logotext img{
    position: absolute;
    left: 5%;
    height: 70px;
    width: 200px; 
}
header {
    position: fixed;
    width: 100%;
    height: 60px;
    font-family:fangsong;
    /* background-image: url('../images/10.jpg'); */
    background-color: rgba(180, 195, 208, 0.918);
    background-size: cover;
    box-shadow:1px 1px 10px #ffffff;
    z-index: 1;
}
/****************************************************导航模块*/
.logo {
    
    float: left;
    height: 60px;
    border-radius: 50%;
}
.logo img {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.logotext img{
    position: absolute;
    left: 80px;
    height: 60px;
    width: 200px; 
}
.head{
    position: absolute;
    right: 20px;
}
.head th{
    height: 50px;
    width: 100px;
}
.head a{
    font-size: 20px;
    color: rgb(253, 253, 253);
    text-decoration:none;
}
.head a:hover {
    color: rgba(111, 229, 255, 0.74);
}
.head_search{
    position: relative;
}
.ser_head{
    position: absolute;
    height:80%;
    top: 15%;
    right: 15%;
    width: 250px;
    border-radius: 30px;
    box-shadow:0px 6px 17px #ffffff;
    padding-top: 10px;
    background-color: rgb(180, 196, 209);
}
.sehead_input{
    position: absolute;
    top: 15%;
    width: 100%;
    height: 70%;
    border-radius: 10px;
}
.sehead_input input{
    background-color: rgba(24, 24, 24, 0);
    height: 25px;
    width: 80%;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
.sehead_img{
    position: absolute;
    top: 20%;
    right: 5%;
}
.sehead_img img{
    height:25px;
}
/********************************************************帖子*/
article{
    position: absolute;
    top:200px;
    left: 30%;
    width: 850px;
    /*height: 5000px;*/
    background-color: rgba(255, 255, 255, 0.418);
    box-shadow:1px 1px 10px #e6e6e6;
    border-radius:10px;
    font-family: cursive;
}
.blank{
    position: relative;
    width: 100%;
    height: 20px;
    background-color:transparent;
}
.post_model{
    position: relative;
    left: 3%;
    width: 800px;
}
.post_mod{
    
    background-color: rgba(253, 253, 253, 0.404);
    border-radius:10px;
    box-shadow:1px 1px 10px #ffffff;
}
.post_model a{
    text-decoration:none;
}
.post_info{
    position:relative;
    width: 100%;
    height: 160px;
    border-radius:10px;
}
.post_money{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 60px;
    color: rgb(0, 0, 0);
    border-radius:20px;
    padding:15px;
    box-shadow: -4px 4px 10px #c5c5c5;
    background-color: rgb(255, 255, 255);
}
.money_num{
    position: relative;
    font-size:30px;
}
.yuan{
    position: absolute;
    top: 45%;
    left: 70%;
    font-size:15px;
    color: rgb(80, 80, 80);
    background-color: rgba(255, 255, 255, 0);
}
.info_urname{
    position: absolute;
    left: 14%;
    top: 54%;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-style: oblique;
}
.info_uravatar{
    position: absolute;
    left: 2%;
    top: 36%;
    padding: 10px;
}
.info_uravatar img{
    border-radius: 50%;
    max-width: 70px;
}
.info_time{
    position: absolute;
    left: 40%;
    top: 14%;
    font-size: 15px;
    color: rgb(77, 77, 77);
}
.info_del{
    position: absolute;
    left: 95%;
    top: 5%;
}
.iconfont{
    font-size: 25px;
}
.info_del a:hover{
    font-size:30px;
    color: black;
}
.post_info h1{
    text-align: center;
    position: relative;
    top: 55%;
    left: 25%;
    border: solid;
    max-width: 567px;
    border-color: #fff;
    border-radius: 15px;
    color: #575656;
}
.post_text{
    position: relative;
    top: 8%;
    left: 5%;
    width: 90%;
    font-size: 20px;
    color:rgb(77, 77, 77);
}
.post_img{
    position: relative;
    left: 5%;
    width: 90%;
    border-radius:10px;
}
.ev_img{
    max-width: 300px;
    max-height: 220px;
    padding: 10px;
}
.post_img img{
    position: relative;
    max-width: 600px;
    max-height: 600px;
    border-style: solid ;
    border-width: 8px;
    border-color: rgba(207, 207, 207, 0);
    border-radius:10px;
}
.post_end{
    height: 63px;
    font-size: 25px;
}
.post_end a:hover{
    color: black;
}
.pend_mark{
    position: relative;
    height: 30px;
    left: 5%;
    color: rgb(119, 119, 119);
    /* background-color:rebeccapurple; */
}
.ma_good{
    position: absolute;
    left: 5%;
    width: 20%;
}
.ma_comm{
    position: absolute;
    left: 45%;
    width: 20%;
}
.ma_col{
    position: absolute;
    left: 80%;
    width: 20%;
}


.messageAll{
    position: absolute;
    top: 15%;
    right: 0;
    background-color: #ffffff70;
    color: #202020;
    box-shadow: 1px 1px 10px #ffffff;
    max-width: 300px;
    text-align: center;
}
.message{
    border-bottom:1px solid #000;
    padding-bottom: 25px;
    padding-top: 25px;
}
.message a{
    text-decoration:none;
    color:#202020;
}
