@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?y25npz');
    src:  url('../fonts/icomoon.eot?y25npz#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?y25npz') format('truetype'),
      url('../fonts/icomoon.woff?y25npz') format('woff'),
      url('../fonts/icomoon.svg?y25npz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.w {
    width : 1063px;
    margin: 0 auto;
}

body {
    background-image: url(../images/1.jpg) ;
    background-repeat: no-repeat;
    border-style: none;
    background-position:center;
    background-attachment: fixed;
    background-size: 100%;
}
/* 头部制作 */
.header {
    height: 60px;
    background-color: #ffffff00;
    border-top: 2px;
    box-shadow: 0 0 1px 1px rgb(130, 221, 221);
}
.logo {
    float: left;
    height: 60px;
}
.logo img {
    height: 60px;
    width: 60px;
}

.w a {
    float: right;
    line-height: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    padding-right: 10px;
}
.w a:hover {
    color: cornsilk;
}
/* 底部制作 */
.footer .w {
    position: relative;
    height: 666px;
    
}
.logintext {
    position: fixed;
    top: 100px;
    left: 100px;
    height: 430px;
    width: 340px;
    background-color:rgb(0, 0, 0, .4);
    padding: 0 30px;
    padding-top: 20px;
    box-shadow: 1px 1px 2px 1px rgba(245, 242, 242, 0.3);
}
.logintext ul li:first-child{
    position: relative;
    height: 55px;
    width: 340px;
    margin-bottom: 10px;
}
.logintext ul li h2 {
    width: 180px;
    float: left;
    color: #b2f1ef;
    line-height: 55px;
    font-size: 20px;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logintext ul li select {
    position: absolute;
    top: 16px;
    right: 60px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #a5fcf9;
    box-shadow:  0 0 1px 1px #81fffb;
    border-radius: 5px;
    font-weight: 350;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
.logintext ul li select option {
    font-size: 14px;
    background-color: #fff;
}
.logintext ul li .fidtext_user,
.logintext ul li .fidtext_pass {
    height: 40px;
    width: 100%;
    background-color: rgb(150, 236, 189);
    vertical-align: middle;
    font-size: 18px;
    margin-bottom: 30px;
    padding-left: 16px;
    color: #000000;
}

.logintext ul .zhuce {
    height: 56px;
    width: 100%;
    margin-bottom: 16px;
}
.logintext ul .zhuce a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #a5fcf9;
    font-size: 16px;
    line-height: 56px;
    text-align: center;
}
.logintext ul .zhuce a:hover{
    color: #00aaee;
}
.logintext ul li a.forget_pass {
    float: right;
}
.logintext ul li a.register {
    float: left;
}
.logintext ul li input.button {
    height: 52px;
    width: 100%;
    background-color: #b2f1ef;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    color: black;
    border-radius: 5px;
}
.logintext ul li .fidtext_pass {
    position: relative;
}
.logintext ul li .eye {
    position: absolute;
    top: 162px;
    right: 40px;
    font-family: 'icomoon';
    font-size: 24px;
    color: #fc91b1;
    cursor: pointer;
}
.text_yz {
    width: 80px;
    height: 32px;
    background-color: rgb(150, 236, 189);
    color: black;
    padding-left: 5px;
    font-size: 14;
}

.yz_message {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    color: rgb(150, 236, 189);
}
#yz {
    background: url(../images/logo.jpg) no-repeat;
    display: inline-block;
    width: 62px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #aca8a8;
    box-shadow:inset 0 0 1px 1px aqua;
    vertical-align: middle;
    
}
#btn {
    display: inline-block;
    height: 32px;
    color: rgb(150, 236, 189);
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ti_shi {
    color: #a1d4e9;
    font-size: 14px;
    margin-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    background-image: -webkit-gradient(linear, left 0,right 0,from(#d16ca9),to(#851b65));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent
}