<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商城中心</title>
    <script type="text/javascript" src="./js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="./js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="./js/axios-0.18.0.min.js"></script>
    <script type="text/javascript" src="./js/host.js"></script>
    <script type="text/javascript" src="./js/common.js"></script>
    <script type="text/javascript" src="./js/center.js"></script>
    <link rel="stylesheet" href="./images/icon/iconfont.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/center.css">
    <link rel="shortcut icon" href="./favicon.ico">
</head>
<body>
    <div id="app">
                <!-- 头部模块制作start -->
        <header class="header">
            <div class="logo">
                <img src="./images/logo.png" alt="">
            </div>
            <div class="logotext">
                <img src="./images/logotext.png" alt="">
            </div>
            <!--导航模块-->
            <nav>
                <table class="head">
                    <th class="head_search">
                        <div class="ser_head">
                            <form method="get" action="search.html" id="title_search">
                            <div class="sehead_input">
                                <b><input type="text" name="serch_text" id="headser_text" placeholder="搜索商品" @keyup.enter="title_search"></b>
                                <button class=""></button>
                            </div>
                            <div class="sehead_img" @click="title_search">
                                <img src="./images/搜索.png" alt="">
                            </div>
                            </form>
                        </div>
                    </th>
                    <th class="head_new">
                        <a href="./new_post.html">新建</a>
                    </th>
                    <th>
                        <a href="./center.html">商城</a>
                    </th>
                    <th>
                        <a href="./enroll.html" target="_blank">通知</a>
                    </th>
                    <th v-if="username" class="login_btn fl">
                        <a href="./personal.html">[[username]]</a>
                    </th>
                    <th  v-else class="login_btn fl">
                        <a href="./login.html">登录</a>
                    </th>
                    <th>
                         <a @click="logoutfunc" class="quit">退出</a>
                    </th>
                </table>
            </nav>
        </header>
        <!-- 头部模块制作end -->  
        <!--中间模块制作start-->
        <!-- aside模块制作start -->
        <aside>
            <h1>商城主页<br></h1>
            <!-- aside_nav制作 -->
            <div class="aside_nav">
                <div class="asi_bla"></div>
                <br>
                <div class="sidebar">
                    <div class="online">
                        <div class="on_title">
                            <a href="./online.html?q=1">电子</a>
                        </div>
                        <div class="sel">
                            <ul>
                                <li><a href="./online.html?q=3">·&nbsp学习</a></li>
                                <li><a href="./online.html?q=4">·&nbsp娱乐</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offline">
                        <div class="asi_bla"></div>
                        <div class="on_title">
                            <br>
                            <a href="./offline.html?q=2">实物</a>
                        </div>
                        <div class="sel">
                            <ul>
                                <li><a href="./offline.html?q=5">· 交通</a></li>
                                <li><a href="./offline.html?q=6">· 生活</a></li>
                                <li><a href="./offline.html?q=7">·&nbsp学习</a></li>
                                <li><a href="./offline.html?q=8">·&nbsp娱乐</a></li>
                            </ul>
                        </div>
                    </div> 
                </div>
            </div>
        </aside>
        <!-- aside模块制作end -->

        <div class="messageAll">
            <div class="message" v-for="mes in messageAll">
                <a :href="mes.url">商品[[mes.title]]:用户[[mes.sender]]发来消息</a>
            </div>
        </div>
        <!--section模块制作start-->
        <section>
            <div class="ser_up">
                <div class="seup_logo"><img src="./images/logo.png" alt=""></div>
                <form method="get" action="search.html" id="sub_search">
                    <div class="ser_center">
                        <div class="secenter_input">
                            <b><input type="text" id="serch_text"  name="q" placeholder="搜索商品" @keyup.enter="sub_search"></b>
                        </div>
                        <div @click="sub_search" class="secenter_img"><img src="./images/搜索.png" alt=""></div>
                    </div>
                </form>
            </div>
            <div class="ser_bottom">
                <a href="#">鞋子</a>
                <a href="#">上衣</a>
                <a href="#">电动车</a>
            </div>
        </section>
        <!--section模块制作end-->

        <!--article模块制作start-->
        <article>
            <div class="po_model">
                <div class="blank"></div>
                <div class="post_model" v-for="goods in goodsAll">
                    <div class="blank"></div>
                    <div class="post_mod">
                    <div class="post_info">
                        <div class="post_money">
                            <div class="money_num">[[goods.price]] 元</div>
                        </div>
                        <a :href="goods.chaturl">
                        <div class = "info_uravatar">
                            <img :src="goods.useravatar">
                        </div>
                        <div class = "info_urname">
                            [[goods.username]]
                        </div>
                        </a>
                        <h1>[[goods.title]]</h1>
                        <div class="info_time">
                            <a href="#">[[goods.time]]</a>
                        </div> 
                    </div>
                    <a :href="goods.url">
                    <div class="post_text">
                        <p>[[goods.text]]</p>
                    </div>
                    <div class="blank"></div>
                    <div class="post_img">
                        <img :src="goods.defaultimg" alt="">
                    </div>
                    </a>
                    <div class="blank"></div>
                    <div class="post_end">
                        <div class="pend_mark">
                            <div class="ma_good">
                                <a href="#"class="iconfont">&#xe651;</a>
                                <span>(</span><span class="mar_text" id="goo_num">[[goods.likes]]</span><span>)</span>
                            </div>
                            <div class="ma_comm">
                                <a href="#"class="iconfont">&#xe65a;</a>
                                <span>(</span><span id="com_num">[[goods.comments]]</span><span>)</span>
                            </div>
                            <div class="ma_col">
                                <a href="#" class="iconfont">&#xe8b4;</a>
                                <span>(</span><span id="com_num">[[goods.collects]]</span><span>)</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="blank"></div>
        </article>
        <!--article模块制作end-->
    </div>
</body>
</html>