<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <script type="text/javascript" src="./js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="./js/host.js"></script>
    <script type="text/javascript" src="./js/axios-0.18.0.min.js"></script>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/enroll.css">
    <link rel="shortcut icon" href="./favicon.ico">
    <script type="text/javascript" src="./js/enroll.js"></script>
</head>
<body>
    <!-- 头部模块制作start -->
    <header class="header">
        <div class="logo">
            <img src="./images/logo.png" alt="">
        </div>
        <div class="logotext">
            <img src="./images/logotext.png" alt="">
        </div>
        <table class="head">
            <th>
                <a href="./index.html" target="_blank">主页</a>
            </th>
            <th>
                <a href="./login.html">登录</a>
            </th>
            <th>
                <a href="#">管理员</a>
            </th>
            <th>
                <a href="#" target="_blank">关于我们</a>
            </th>
        </table>
    </header>
    <!-- 头部模块制作end -->
    
    <!--中间模块制作start-->
    <div class="enroll_body">
        <div class="enroll_title">
            <p>新用户注册</p>
            <p>USER REGISTER</p>
        </div>
        <div class="enroll_center">
            <div class="enroll_form" id="app" v-cloak>
                <form action="#" method="post" id="userForm">
                    <table>
                        <tr>
                            <td class="td_left"><label for="phone">手机号</label></td>
                            <td class="td_right"><input type="text" name="tel" id="tel" placeholder="请输入手机号"><span id="phoneError"></span></td>
                        </tr>
                        <tr>
                            <td class="td_left"><label for="st_id">学号</label></td>
                            <td class="td_right"><input type="text" name="st_id" id="st_id" placeholder="请输入学号"><span id= "stuidError"></span></td>
                        </tr>
                        <tr>
                            <td class="td_left"><label for="name">姓名</label></td>
                            <td class="td_right"><input type="text" name="" id="name" placeholder="请输入姓名"><span id= "nameError"></span></td>
                        </tr>
                        <tr>
                            <td class="td_left"><label for="tel">专业班级</label></td>
                            <td class="td_right"><input type="text" name="" id="class" placeholder="请输入专业班级"></td>
                        </tr>
                        <tr>
                            <td class="td_left"><label for="tel">昵称</label></td>
                            <td class="td_right"><input type="text" name="username" id="username" placeholder="请输入昵称"><span id= "usernameError"></span></td>
                        </tr>
                        <tr>
                            <td class="td_left"><label for="password">密码</label></td>
                            <td class="td_right"><input type="password" name="password" id="password" placeholder="请输入密码"></td>
                        </tr>
                        <tr>
                            <td class="td_left"><label for="password">确认密码</label></td>
                            <td class="td_right"><input type="password" name="" id="confirmpwd" placeholder="请输入确认密码"><span id= "pwdError"></span></td>
                        </tr>
                        <tr>
                            <td class="td_left"><label>性别</label></td>
                            <td class="td_right"><input type="radio" name="gender" value="male">男
                                <input type="radio" name="gender" value="female">女</td>
                        </tr>
                        <tr>
                            <td class="td_left"><label for="checkcode">验证码</label></td>
                            <td class="td_right"><input type="text" name="" id="checkcode" placeholder="请输入验证码">
                                <canvas id="canvas"></canvas>
                                <span id="checkError"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" id = "sub_txt"><input type="button" value="注&nbsp&nbsp&nbsp册" id="btn_sub"/></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="enroll_right">
            <p>已有账号?<a href="./login.html ">立即登录</a></p>
        </div>
    <!-- 中间模块制作end -->
</body>
</html>