<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <script type="text/javascript" src="./js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="./js/axios-0.18.0.min.js"></script>
    <script type="text/javascript" src="./js/host.js"></script>
    <script type="text/javascript" src="./js/common.js"></script>
    <script type="text/javascript" src="./js/login.js"></script>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./images/icon/iconfont.css">
    <link rel="shortcut icon" href="./favicon.ico">
</head>
<body>
    <!-- 头部模块制作start -->
    <header class="header">
        <div class="logo">
            <img src="./images/logo.png" alt="">
        </div>
        <div class="logotext">
            <img src="./images/logotext.png" alt="">
        </div>
        <table class="head">
            <th>
                <a href="./enroll.html" target="_blank">注册</a>
            </th>
            <th>
                <a href="#">管理员</a>
            </th>
            <th>
                <a href="#">关于我们</a>
            </th>
        </table>
    </header>
    <!-- 头部模块制作end -->
    
    <!--中间模块制作start-->
    <div class="login" id="app">
        <div class="login_img"></div>
        <form method="post" id="userForm" @submit.prevent="on_submit">
            <div class="logintext">
                <ul>
                    <li>
                        <h2>用户登录</h2>
                        <h2>&nbsp;</h2>
                    </li>
                    <li>
                        <input type="text" v-model="username" @blur="check_username_fd"  @focus="checkname_focus_fd" class="fidtext_user" name="uname"  placeholder="请输入用户名、学号或手机号" id="username">
                        <span id="nameError" > {{nameError}}</span>
                    </li>
                    <li>
                        <input type="password" class="fidtext_pass"v-model="password" @blur="check_pwd_fd" @focus="checkpwd_focus_fd" name="password" placeholder="请输入密码">
                        <span id="checkError">{{checkError}}</span>
                    </li>
                    <li><input type="submit" class="button" id="logbtn" value="登    录"></li>
                </ul>
                <div class="more_input">
                    <input type="checkbox" v-model="remember">
                    <label>记住登录</label>
                    <a href="/find_password.html">忘记密码</a>
                </div>
            </div>
        </form>
    </div>
    <!-- 中间模块制作end -->
</body>
</html>