<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新建</title>
    <script type="text/javascript" src="./js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="./js/axios-0.18.0.min.js"></script>
    <script type="text/javascript" src="./js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="./js/host.js"></script>
    <link rel="stylesheet" href="./images/icon/iconfont.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/new_post.css">
    <link rel="shortcut icon" href="./favicon.ico">
    <script type="text/javascript" src="./js/common.js"></script>
    <script type="text/javascript" src="./js/new_post.js"></script>
</head>
<body>
    <div id="app">
        <!-- 头部模块制作start -->
        <header class="header">
            <div class="logo">
                <img src="./images/logo.png" alt="">
            </div>
            <div class="logotext">
                <img src="./images/logotext.png" alt="">
            </div>
            <!--导航模块-->
            <nav>
            <!--导航模块-->
            <nav>
                <table class="head">
                    <th class="head_search">
                        <div class="ser_head">
                            <div class="sehead_input">
                                <b><input type="text" name="serch_text" id="headser_text"></b>
                                <button class=""></button>
                            </div>
                            <div class="sehead_img">
                                <img src="./images/搜索.png" alt="">
                            </div>
                        </div>
                    </th>
                    <th class="head_new">
                        <a href="./new_post.html">新建</a>
                    </th>
                    <th>
                        <a href="./center.html">商城</a>
                    </th>
                    <th>
                        <a href="./enroll.html" target="_blank">通知</a>
                    </th>
                    <th v-if="username" class="login_btn fl">
                        <a href="./personal.html">{{username}}</a>
                    </th>
                    <th  v-else class="login_btn fl">
                        <a href="./login.html">登录</a>
                    </th>
                    <th>
                         <a @click="logoutfunc" class="quit">退出</a>
                    </th>
                </table>
            </nav>
        </header>
        <!-- 头部模块制作end -->  
        <!--中间模块制作start-->
        <div>
            
        </div>
        <!-- aside模块制作start -->
        <aside>
            <h1>个人主页</h1>
            <!-- aside_nav制作 -->
            <div class="aside_nav">
                <ul class="ul_sidebar">
                    <li><a href="./personal.html" id="source_all">我的发布</a></li>
                    <li><a href="./my_sold.html" id="my_sold">我的卖出</a></li>
                    <li><a href="./my_bought.html" id="my_bought">我的已购</a></li>
                    <li><a href="./my_collect.html" id="my_collect">我的收藏</a></li>
                    <li><a href="./my_message.html" id="my_message">我的评价</a></li>
                    <li><a href="./my_info.html" id="personal_information">个人资料</a></li>
                </ul>
            </div>
        </aside>
        <!-- aside模块制作end -->
        <!--section模块制作start-->
        <section>
            <a href="#"><img src="./images/3.jpg" class="theme"></a>
            <img :src="avatarurl" class="avatar">
        </section>
        <!--section模块制作end-->

        <!--article模块制作start-->
        <article>
            <div class="newpost">
                <div class="newpost_top">
                    <div class="newpost_select">
                        <select v-model="goods_category">
                            <option value="3">电子-学习资料</option>
                            <option value="4">电子-账号</option>
                            <option value="5">实物-交通</option>
                            <option value="6">实物-生活</option>
                            <option value="7">实物-学习</option>
                            <option value="8">实物-娱乐</option>
                        </select>
                    </div>
                    <div class="new_money">
                            价钱为:
                            <input type="text" v-model="goods_price" oninput = "value=value.replace(/[^\d]/g,'')" value="">
                        <div class="yuan">元</div>
                    </div>
                    <div class="newcenter_img" id="newcenter_img">
                            <button id="add"><img src="./images/图片添加.png"></button>
                            <input type="file"  accept="image/*" id="add-pic-btn" @change="addImg()" multiple/>
                    </div>
                    <button id="submit" @click="send_post">提交</button>
                </div>
                <div class="newpost_center">
                    <div class="newpost_title">
                        <span>商品名称：</span><input type="text" name="" v-model="goods_title">
                    </div>
                    <div class="newcenter_text">
                        <textarea type="text" name="newpost_text" v-model="goods_text" placeholder="商品详细描述" value=""></textarea>
                    </div>
                </div>
                <div class="group-coms-pic" v-if="list.length>0" v-cloak>
                    <div class="item" v-for="(v,i) in list" :key="i" >
                        <div class="newpost_img">
                            <img class="img" :src="v.src">
                            <button class="delete" @click="delImg(i)">delect</button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!--article模块制作end-->
    </div>
</body>
</html>